---
layout: default
title: Blog
permalink: /blog/
weight: 10
---

{% for post in site.posts limit:10 %}
<div class="section">
  <div class="container">
    <div class="post box">

      <h2 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div class="content">
        {{ post.content | truncatewords:500}}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>

      <p>Posted on <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</p>
    </div>
  </div>
</div>
{% endfor %}

<div style="background-color: white; text-align: center; padding-bottom: 40px;">
  <h2 class="title"><a href="/blog/archive/">See older blog posts...</a></h2>
</div>
