<header class="header">
<div class="container">
  <div class="header-left">
    <a class="header-item" href="/">
      NZOI
    </a>

    {% assign nodes = site.pages | sort: "weight" %}
    {% for node in nodes %}
      {% if node.weight %}
        {% if node.url == page.url %}
          <a class="header-tab is-active" href="{{node.url}}" class="active">{{node.title}}</a>
        {% else %}
        <a class="header-tab" href="{{node.url}}">{{node.title}}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

  </div>
</div>
</header>
