<header class="header">
<div class="container">
  <div class="header-left">
    <a class="header-item nzoi-logo" href="/"></a>

    {% assign nodes = site.pages | sort: "weight" %}
    {% for node in nodes %}
      {% if node.weight %}
        {% if node.url == page.url %}
          <a class="header-tab is-active" href="{{node.url}}" class="active">{{node.title}}</a>
        {% else %}
          <a class="header-tab" href="{{node.url}}">{{node.title}}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

  </div>
  <div class="header-right">
    <a class="header-tab" href="https://train.nzoi.org.nz/">Training</a>

    <div class="dropdown">
      <style scoped>
        .dropdown-content {
            display: none;
        }
        div.dropdown-content {
            padding: 0;
        }
        .dropdown-content a {
            display: block;
            background-color: #FFFFFF;
            text-align: left;
            padding-left: 8px;
            padding-top: 4px;
            padding-bottom: 4px;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
      </style>

      <script>$('.dropdown').doubleTapToGo();</script>

      {% if page.nzic_weight %}
        <a href="/nzic/" class="header-tab is-active">NZ Informatics Competition</a>
      {% else %}
        <a href="/nzic/" class="header-tab">NZ Informatics Competition</a>
      {% endif %}

      <div class="dropdown-content header-item">
        {% if '/nzic/' == page.url %}
          <a href="/nzic/" class="is-active">Home</a>
        {% else %}
          <a href="/nzic/">Home</a>
        {% endif %}

        {% assign nodes = site.pages | sort: "nzic_weight" %}
        {% for node in nodes %}
          {% if node.nzic_weight > 0 %}
            {% if node.url == page.url %}
              <a href="{{node.url}}" class="is-active">{{node.title}}</a>
            {% else %}
              <a href="{{node.url}}">{{node.title}}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</header>
