@import "bulma/utilities/utilities";
@import "bulma/config/variables";
@import "bulma/config/generated-variables";
@import "bulma/base/base";
@import "bulma/elements/elements";
@import "bulma/components/components";
@import "bulma/layout/layout";

.nzoi-logo {
  background-image: url('/images/nzoi-logo.svg');
  background-repeat: no-repeat;
  width: 50px;
}

